<footer class="footer">
    <div class="container">

        <nav class="footer-nav">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/webapps/">Apps</a>
            <a href="/BQI/">BQI</a>
            <a href="/python-lib/">Python</a>
            <a href="/book/">Book</a>
            <a href="/presentations/">Presentations</a>
            <a href="/contact/">Contact</a>
        </nav>

        <p>
            © {{ now.Format "2006" }} Broken Quality Press, LLC
        </p>

    </div>
</footer>