.webapps-layout {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  min-width: 0;
  flex-direction: column;
}

.webapps-text {
  flex: 1;
}

.webapps-layout p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.contact-text img {
    width: 90%;
    height: auto;
    display: block;
    margin: 1.5rem auto 0;
}

.video-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

/*Python media options*/
@media (max-width: 768px) {

  .webapps-layout {
    flex-direction: column;
    align-items: stretch;
  }

  .webapps-text {
    width: 100%;
  }

}